// martian colors
$martian-red: #ef4059;
$martian-dark: #3d3d3d;
$martian-darkgray: #8e8e8e;
$martian-gray: #c7c7c7;
$martian-lightgray: #f5f5f5;

// bootstrap overrides
$primary: $martian-red;
$secondary: $martian-darkgray;
$body-bg: $martian-lightgray;

// import default bootstrap styles
@import '~bootstrap/scss/bootstrap.scss';

#root {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.loader.spinner-border {
    margin: auto;
    color: $secondary;
}

.avatar-button {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
}

.avatar-button > .dropdown-toggle {
    border-radius: 100%;
    width: 4em;
    height: 4em;
}

.avatar-button > .dropdown-toggle::after {
    display: none; // hide dropdown toggle arrow
}

.login-form {
    max-width: 320px;
    margin: auto;
}

.login-failed {
    color: $danger;
}

.loader.login-loader {
    width: 1em;
    height: 1em;
    border-width: 2px;
    margin-left: 1em;
}

.content-page {
    max-width: 600px;
    width: 100%;
    margin: auto;
    margin-top: 0;
    font-size: 0.8em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

.content-page h1 {
    padding-top: 1.5rem;
    padding-bottom: 4rem;
}

.content-page h4 {
    font-size: 1.5em;
}

.content-page button {
    font-size: 1em;
}

.content-page .commment-title {
    margin-bottom: 0.5em;
}

.posts-page .posts-search {
    margin-bottom: 1em;
    max-width: 320px;
}

.posts-page.nr-of-posts.text-muted {
    margin-bottom: 1em;
}

.posts-page .post {
    margin-bottom: 4em;
}

.posts-page .post-body {
    margin-bottom: 0;
}

.post-details-page .go-back {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-details-page .go-back::before {
    content: "\290E  ";
}

.no-post {
    margin: 4em auto;
}